.o_premio { background: #eee2d0; background: linear-gradient(89deg, #eee2d0 0%, #f8e7d7 100%); overflow: inherit; }

.o_premio svg { fill: #ca9c7f !important; }

.o_premio .opremio_page { padding-top: 145px; }

.o_premio .opremio_page .inner_box { padding-left: 96px; padding-right: 45px; }

.o_premio .opremio_page .text_premio { height: auto; }

.o_premio .opremio_page .text_premio:after { background: transparent; }

.o_premio .opremio_page .text_premio .paragrafo_premio { position: relative; z-index: 3; }

.o_premio .opremio_page .text_premio p { font-size: 20px; text-align: left; color: #12397C; line-height: 24px; font-family: 'Gotham Book'; }

.o_premio .opremio_page .text_premio a.button_readmore { display: block; width: 327px; height: 48px; border: 2px solid #12397C; display: flex; align-items: center; justify-content: center; border-radius: 5px; color: #12397C; text-transform: uppercase; font-family: 'Gotham Bold'; font-size: 20px; margin-top: 16px; text-decoration: none; transition: .3s; }

.o_premio .opremio_page .text_premio a.button_readmore:hover { background: #12397C; color: #FFF; text-decoration: none; }

.o_premio .opremio_page .text_premio a.button_readmore i { transform: rotate(90deg); font-size: 16px; margin-left: 13px; margin-top: 2px; transition: .3s; }

.o_premio .opremio_page .text_premio a.button_readmore.expandido i { transform: rotate(-90deg); }

.o_premio .opremio_page .text_premio .read_more_text { transition: .3s; }

.o_premio .opremio_page .text_premio .read_more_text img { margin-right: 20px; height: fit-content; margin-top: 20px; }

.o_premio .opremio_page .text_premio .circulos { top: 0vh; }

.o_premio .opremio_page .text_premio .more_left { right: initial; left: -30px; top: -20vh; }

.o_premio .categorias_opremio { background-image: linear-gradient(91deg, #eee2d0 0%, #f8e7d7 100%); }

.o_premio .categorias_opremio .inner_box { height: auto; }

.o_premio .categorias_opremio .cat_home { position: relative; z-index: 10; padding-left: 0px; padding-top: 50px; }

.o_premio .categorias_opremio .cat_home .rosto { position: absolute; top: 22vh; right: -450px; z-index: 10; }

.o_premio .categorias_opremio .cat_home .categoria_profissional_items { margin-left: 5px !important; }

.o_premio .categorias_opremio .cat_home .cada_item_cat_prof { min-width: 247px; width: 307px; }

.o_premio .categorias_opremio .cat_home .cada_cat:last-of-type { margin-bottom: 45px; }

.o_premio .categorias_opremio .cat_home .cada_cat .descricao_cat { min-width: 260px; position: relative; }

.o_premio .categorias_opremio .cat_home .cada_cat .descricao_cat .circulos_h { top: -13px; left: unset; right: -100px; }

.o_premio .categorias_opremio .cat_home .cada_cat .descricao_cat p { font-size: 20px; line-height: 24px; color: #7F7F7F; }

.o_premio .categorias_opremio .cat_home .cada_cat .cat_items { background: #efe6da; padding-top: 24px; padding-left: 19px; padding-right: 19px; padding-bottom: 34px; margin-top: 32px; border-radius: 5px; position: relative; }

.o_premio .categorias_opremio .cat_home .cada_cat .cat_items .more_bottom { top: -4vh; right: 26vw; }

.o_premio .categorias_opremio .cat_home .cada_cat .cat_items .circulos_h { bottom: -10px; left: 26vw; }

.o_premio .categorias_opremio .cat_home .cada_cat .cat_items .item { font-size: 19px; color: #7F7F7F; max-width: 340px; }

.o_premio .categorias_opremio .cat_home .cada_cat .cat_items .item strong { text-transform: uppercase; color: #c81316; font-family: 'Gotham Bold'; font-size: 20px; }

.o_premio .categorias_opremio .cat_home .cada_cat .categoria_academica_desc { margin-top: 50px; }

.o_premio .categorias_opremio .cat_home .cada_cat .categoria_academica_desc .desc_academica { min-width: 356px; max-width: 356px; }

.o_premio .categorias_opremio .cat_home .cada_cat .categoria_academica_desc .desc_academica p { font-size: 20px; line-height: 24px; color: #7F7F7F; }

.o_premio .categorias_opremio .cat_home .cada_cat .categoria_academica_desc .projeto_academica { padding: 34px 17px; background: #EFE8DD; border-radius: 5px; color: #7F7F7F; font-size: 20px; margin-left: 80px; position: relative; }

.o_premio .categorias_opremio .cat_home .cada_cat .categoria_academica_desc .projeto_academica .more_bottom { top: -29px; right: -25px; left: unset; }

.o_premio .categorias_opremio .cat_home .cada_cat .categoria_academica_desc .projeto_academica strong { text-transform: uppercase; color: #12397C; font-family: 'Gotham Bold'; font-size: 20px; }

.o_premio .categorias_opremio .more_bottom { top: 10vh; }

.o_premio .categorias_opremio .more_bottom.more_left { top: 30vh; }

.o_premio .categorias_opremio .circulos { right: 33vw; }

.o_premio .categorias_opremio .circulos.circulo_left { top: 60vh; left: 6px; }

.o_premio .categorias_opremio .circulos.circulo_left.circuloadd { bottom: 35vh; top: unset; }

.o_premio .premios_page { background-image: linear-gradient(91deg, #eee2d0 0%, #f8e7d7 100%); background-position: 0vw -31vh; }

.o_premio .premios_page .inner_box { height: auto; }

.o_premio .premios_page .inner_box:after { background: #dbd3c9; background: url(../images/opremio/bg_premios.png), linear-gradient(270deg, #B6DAF4 0%, #EADFF0 100%); opacity: .25; }

.o_premio .premios_page .content_premios_page { margin-bottom: 140px; }

.o_premio .premios_page .content_premios_page:last-child { margin-bottom: 70px; }

.o_premio .premios_page .content_premios_page .titulos_premios { margin-top: 63px; }

.o_premio .premios_page .content_premios_page .titulos_premios h2 { font-size: 30px; line-height: 40px; color: #12397C; text-transform: uppercase; font-family: 'Gotham Medium'; margin-bottom: 10px; }

.o_premio .premios_page .content_premios_page .titulos_premios h2.titleRed { color: #c81316; }

.o_premio .premios_page .content_premios_page .titulos_premios h3 { font-size: 20px; color: #12397C; font-family: 'Gotham Book'; text-transform: uppercase; margin-bottom: 50px; }

.o_premio .premios_page .content_premios_page .titulos_premios h3 span { font-family: 'Gotham Bold'; color: #C81316; }

.o_premio .premios_page .content_premios_page .titulos_premios h3.inverseRed { color: #c81316; }

.o_premio .premios_page .content_premios_page .titulos_premios h3.inverseRed span { color: #12397c; }

.o_premio .premios_page .content_premios_page .blocos_premios { position: relative; }

.o_premio .premios_page .content_premios_page .blocos_premios .more_bottom { top: 0; left: 0; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco { background: linear-gradient(180deg, rgba(238, 226, 208, 0.75) 0%, rgba(248, 231, 215, 0.75) 100%); box-shadow: 0px 3px 6px rgba(27, 113, 165, 0.15); border-radius: 5px; text-align: center; padding: 39px 40px; position: relative; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco h4 { font-size: 20px; font-family: 'Gotham Black Regular'; line-height: 24px; margin-bottom: 39px; color: #12397c; text-transform: uppercase; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco .premio { font-size: 29px; color: #12397C; font-size: 29px; font-family: 'Gotham Bold'; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco .premio small { font-family: 'Gotham Book'; font-size: 12px; line-height: 15px; color: #12397C; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco p { color: #7f7f7f; font-size: 12px; font-family: 'Gotham Book'; line-height: 15px; margin-top: 20px; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco .circulo_left { top: 5px; left: -5px; right: unset; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco .circulos_h { bottom: -39px; left: 55px; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco .more_bottom { right: -34px; left: unset; top: -7px; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco .more_bottom.more_left { top: unset; right: unset; left: -34px; bottom: -21px; }

.o_premio .premios_page .content_premios_page .blocos_premios .item_bloco .more_bottom.moreadd { top: unset; bottom: 20px; }

.o_premio .premios_page .content_premios_page .blocos_premios.inverse h4 { color: #c81316; }

.o_premio .premios_page .content_premios_page .blocos_premios.inverse .premio { color: #c81316; font-family: 'Gotham Bold'; font-size: 26px; }

.o_premio .premios_page .content_premios_page .blocos_premios.inverse .premio small { font-size: 14px; line-height: 16px; color: #c81316; text-transform: uppercase; }

.o_premio .premios_page .destaques_sect .titulos_premios h3 span { font-family: 'Gotham Book'; }

.o_premio .premios_page .destaques_sect .titulos_premios .premio { font-size: 21px !important; }

.o_premio .premios_page .destaques_sect .item_bloco { min-height: 242px; }

.o_premio .premios_page .destaques_sect .item_bloco .premio { font-size: 21px !important; color: #12397c; line-height: 24px; text-transform: uppercase; margin-bottom: 28px; min-height: 50px; display: flex; align-items: center; justify-content: center; }

.o_premio .premios_page .destaques_sect .item_bloco h4 { margin-bottom: 0 !important; font-size: 29px !important; }

.o_premio .premios_page .destaques_sect .item_bloco h4 small { font-family: 'Gotham Book'; font-size: 12px; line-height: 43px; color: #12397C; text-transform: lowercase; }

.o_premio .premios_page .destaques_sect .item_bloco .circulos_h.circulos_hadd { top: -14px; left: -3px; right: unset; }

.o_premio .premios_page .destaques_sect .item_bloco .more_bottom.moreadd { bottom: -25px !important; right: 19px; }

.o_premio .premios_page .destaques_sect .item_bloco.blueBlock .premio { color: #12397c !important; font-size: 18px !important; line-height: 19px; margin-bottom: 22px; }

.o_premio .premios_page .destaques_sect .item_bloco.blueBlock h4 { color: #12397c !important; }

.o_premio .premios_page .destaques_sect .item_bloco.blueBlock .more_bottom { right: 5vw; top: -27px; }

.o_premio .premios_page .destaques_sect .item_bloco.blueBlock .circulos_h { bottom: -9px; top: unset; right: 26px; left: unset; }

.o_premio .premios_page .destaques_sect .item_bloco.redBlock .premio { color: #c81316 !important; font-size: 18px !important; line-height: 19px; margin-bottom: 22px; }

.o_premio .premios_page .destaques_sect .item_bloco.redBlock h4 { color: #c81316 !important; }

.o_premio .premios_page .destaques_sect .item_bloco.redBlock .circulos_h { left: unset; right: 14px; }

.o_premio .calltoaction_premio { background: rgba(127, 127, 127, 0.15); background-position: 0vw -31vh; height: 300px; display: flex; align-items: center; }

.o_premio .calltoaction_premio .inner_box { height: auto; }

.o_premio .calltoaction_premio .inner_box:after { background: transparent !important; opacity: .25; }

.o_premio .calltoaction_premio .call_left { text-align: center; width: 277px; margin-right: 100px; position: relative; z-index: 3; }

.o_premio .calltoaction_premio .call_left h2 { font-size: 30px; color: #12397c; font-family: 'Gotham Bold'; line-height: 40px; margin-bottom: 20px; text-transform: uppercase; }

.o_premio .calltoaction_premio .call_left small { font-size: 12px; color: #12397c; line-height: 15px; }

.o_premio .calltoaction_premio .call_right { text-align: center; background-image: url(../images/opremio/block.svg); background-repeat: no-repeat; height: 342px; width: 471px; position: relative; z-index: 3; background-position: top; }

.o_premio .calltoaction_premio .call_right h2 { color: #FFF; font-size: 40px; font-family: 'Gotham Bold'; line-height: 48px; margin-bottom: 0px; margin-left: -35px; }

.o_premio .calltoaction_premio .call_right small { font-size: 12px; color: #FFF; line-height: 15px; margin-left: -35px; }

.o_premio .calltoaction_premio .more_left { right: initial; left: 14vw; top: -7px; }

.o_premio .calltoaction_premio .circulos.circulo_left { left: 41vw; bottom: 108px; }

.o_premio .sect_inscreva_se { padding-top: 60px; }

.o_premio .sect_inscreva_se .inner_box { height: auto; margin-top: 40px; }

.o_premio .sect_inscreva_se .inner_box:after { background: transparent !important; opacity: .25; }

.o_premio .sect_inscreva_se a.botao { height: 62px; width: 320px; font-size: 25px; position: relative; z-index: 3; margin-left: 76px; }

.o_premio .sect_inscreva_se .circulos.circulo_left { top: -23px; bottom: unset; left: 99px; }

.o_premio .calendario_page { background-image: unset; padding-bottom: 1px; }

.o_premio .calendario_page .circulos.circulo_left { top: -23px; bottom: unset; left: 99px; }

.o_premio .calendario_page .cat_home { position: relative; z-index: 10; padding-left: 0; padding-top: 70px; }

.o_premio .calendario_page .inner_box { height: auto; }

.o_premio .calendario_page .inner_box:after { background: transparent !important; opacity: .25; }

.o_premio .calendario_page .calendario_items { padding-top: 85px; }

.o_premio .calendario_page .calendario_items .cada_item_calendario { padding-right: 231px; margin-bottom: 45px; }

.o_premio .calendario_page .calendario_items .cada_item_calendario .data { position: relative; }

.o_premio .calendario_page .calendario_items .cada_item_calendario .data:after { content: ''; background: #12397C; position: absolute; width: 15px; height: 15px; right: 8px; border-radius: 100%; }

.o_premio .calendario_page .calendario_items .cada_item_calendario .data:before { content: ''; width: 1px; height: 140%; background: #12397C; position: absolute; right: 15px; margin-top: 15px; }

.o_premio .calendario_page .calendario_items .cada_item_calendario .data span.strong { font-family: 'Gotham Black Regular'; color: #12397C; font-size: 52px; line-height: 62px; }

.o_premio .calendario_page .calendario_items .cada_item_calendario .data span { color: #12397C; line-height: 31px; font-size: 26px; }

.o_premio .calendario_page .calendario_items .cada_item_calendario .data span.ate { font-size: 19px !important; line-height: 7px !important; position: relative; color: #c81316 !important; text-transform: lowercase; }

.o_premio .calendario_page .calendario_items .cada_item_calendario .item_descricao { width: 100%; background: #fFF; padding-left: 40px; display: flex; align-items: center; padding-top: 34px; padding-bottom: 34px; border-radius: 10px; font-size: 20px; line-height: 24px; font-family: 'Gotham Bold'; text-transform: uppercase; color: #12397C; flex-direction: column; align-items: start; padding-right: 20px; transition: .3s; }

.o_premio .calendario_page .calendario_items .cada_item_calendario .item_descricao:hover { background: rgba(255, 255, 255, 0.5); }

.o_premio .calendario_page .calendario_items .cada_item_calendario .item_descricao small { color: #12397C; font-family: 'Gotham Book'; font-size: 14px; line-height: 16px; text-transform: lowercase; }
