.conforto_page {
    max-height: initial;
    overflow: inherit;
    background: none;
    .inner_box {
        height: inherit;
        overflow: hidden;
        &:after {
            background-image: url('../images/categorias/bg_cat_page.png');
        }
    }
    .inscrevaBig {
        display: flex;
        width: 426px;
        height: 62px;
        justify-content: center;
        align-items: center;
        font-size: 21px;
        color: #12397C;
        background: #FFF;
        border-radius: 5px;
        font-family: 'Gotham Bold';
        text-transform: uppercase;
        margin-bottom: 39px;
        margin-top: 21px;
        &:hover {
            background: #12397C;
            color: #FFF;
        }
    }
    .dentro_conforto {
        .tabs_conforto {
            padding-right: 108px;
            ul{
                li{
                    width: 350px;
                }
            }
        }
       .tab-content.current {
            display: block;
            column-count: 2;
            column-gap: 40px;
        }
        .texto_conforto {
            padding-right: 81px;
            p {
                margin-bottom: 18px;
                overflow: inherit;
                max-height: initial;
            }
            ul{
                li{
                    color: #FFF;
                    font-size: 18px;
                }
            }
        }
        div#tab-6 {
            column-count: 1;
        }

        table#matriz_sustentabilidade{
            img {
                width: 70px;
            }
            .popup-sustentabilidade {
                position: relative;
                background: #FFF;
                padding: 20px;
                width: 25%;
                margin: 20px auto;
            }
            .skew {  
                background: #fff;
                position: relative;
                min-height: 120px;
                -webkit-box-shadow: 2px 2px 41px -12px rgba(0,0,0,0.3);
                -moz-box-shadow: 2px 2px 41px -12px rgba(0,0,0,0.3);
                box-shadow: 2px 2px 41px -12px rgba(0,0,0,0.3);
                z-index: 2;
                border-radius: 5px;
                a{
                    color: #12397C;
                    font-family: 'Gotham Bold';
                    transition: .3s;
                    text-transform: initial;
                    &:hover{
                        color: #c81316;
                    }
                }
            }
        }
        
    }

}
.categorias {
    background: #B6DAF4;
    background: linear-gradient(91deg, #B6DAF4 0%, #EADFF0 100%);
    .footer {
        background: url('../images/categorias/bg_footer.png') bottom center;
    }
}

.inner_empresa {
    margin-bottom: 60px;
    margin-top: inherit;
    padding: 52px 100px;
    height: initial;
    svg {
        fill: #ca9c7f;
    }
    &:after {
        background: #FFF;
        opacity: 1;
    }
    .row {
        z-index: 10;
    }
    .logo_empresa {
        display: flex;
        justify-content: center;
        align-items: center;
        img {width: 230px;}
    }
    .texto_empresa {
        h3 {
            color: #12397C;
            font-size: 20px;
            line-height: 19px;
            margin-bottom: 26px;
            font-family: 'Gotham Black Regular';
            text-transform: uppercase;
        }
        p {
            font-size: 16px;
            line-height: 19px;
            color: #12397C;
            margin-bottom: 20px;
            &:last-child {
                text-transform: uppercase;
                margin-bottom: 0;
            }
        }
        a {
            font-family: 'Gotham Bold';
            color: #12397C;
            font-size: 14px;
            margin-right: 28px;
            transition: .3s;
            &:hover{
                color: #c81316;
            }
        }        
    }
}

.empresa_impar {
    .circulo_left {
        left: 111px;
        bottom: 27px;
    }
    .more_bottom {
        position: absolute;
        right: -30px;
        bottom: 30px;
    }
    .circulos_h {
        position: absolute;
        top: 4px;
        left: 32vw;
    }
}

.empresa_par {
    .circulos_h {
        position: absolute;
        top: 4px;
        left: 32vw;
    }
    .more_left {
        bottom: initial;
        top: -29px;
    }
    .circulos {
        right: 34px;
    }
}

.conforto_page .dentro_conforto .tabs_conforto .circulo_left {
    right: inherit;
    left: 99px;
    bottom: inherit;
    top: 10vh;
}
.conforto_page .dentro_conforto .tabs_conforto  .middle_more {
    top: 95vh;
    right: 50%;
    transform: translateX(-50%);
}
.conforto_page .more_bottom {
    right: initial;
    left: -27px;
    bottom: 135px;
}
.conforto_page .more_top {
    bottom: initial;
    top: 62vh;
}

img.x80 {
    width: 80px;
}

.popup-sustentabilidade {
    position: relative;
    background: #FFF;
    padding: 20px;
    width: 25%;
    margin: 20px auto;
}
.sustentabilidade_item_txt {
    font-size: 1em;
    color: #000;
    line-height: 1.2em;
}

h4.small {
    color: #FFF !important;
    font-family: 'Gotham Bold';
    font-size: 15px;
    a{
        color: #FFF;
    }
}