@media screen and ( max-height: 699px ) { 
    .inner_box {
        height: 85vh;
    }
    .inner_empresa {
        height: initial;
    }
    .text_right {
        padding-top: 57px;
        .inscricoes {
            margin-top: 32px;
        }
    }
    .menu ul li {
        height: 55px;
    }
    .secao_2 .right_dois {
        padding-top: 30px;
        p {
            margin-bottom: 21px;
            font-size: 19px;
        }
        .inscreva {
            margin-top: 18px;
        }
    }
    .categorias_home .cat_home {
        padding-top: 29px;
    }
    .categorias_home .circulos_h {
        top: initial;
        left: 65px;
        bottom: 158px;
    }
    .categorias_home .saiba {
        margin-bottom: 40px;
    }
    .conforto .dentro_conforto h2 {
        margin-bottom: 43px;
    }
    .conforto .dentro_conforto {
        padding-top: 45px;
    }
    .conforto .dentro_conforto .texto_conforto {
        padding-right: 66px;
        p {
            padding-right: 15px;
        }
    }
    .regulamento .inner_box .dentro_regulamento h1 {
        line-height: 118px;
    }
    .como_foi .inner_box .dentro_como {
        padding-top: 27px;
    }
    .como_foi .inner_box .dentro_como .video_box {
        max-width: 590px;
    }
    .footer .inner_box_white {
        padding: 14px 78px;
    }
    .footer .inner_box_grey {
        margin-bottom: 12.5vh;
        height: 26.5vh;
        p {
            margin-bottom: 13px;
        }
    }
    .footer .inner_box_grey h3 {
        margin-bottom: 13px;
    }
    .footer .consulte {
        bottom: 63px;
    }
    .subir {
        bottom: 7vh;
    }
    .footer .inner_box_white .empresas {
        margin-top: 29px;
        margin-bottom: 33px;
    }
}

@media screen and ( max-width: 1300px ) { 
    .secao_2 .right_dois {
        position: relative;
        padding-left: 5px;
        padding-right: 26px;
        padding-top: 54px;
        z-index: 10;
    }
    .texto_left {
        left: 66px;
    }
    .secao_2 .right_dois .premiacoes h3:before {
        margin-right: 2px;
    }
    .text_right {
        padding-right: 20px;
    }
    .text_right .premio {
        padding-right: 0px;
    }
    .secao_1 .more_bottom {
        right: -57px;
    }
    .secao_2 .more_bottom {
        right: -57px;
    }    
}

@media screen and ( max-width: 1300px ) {
    .tab-content p {
        max-height: 39vh;
        overflow-y: auto;
    }
    .mulher {
        left: 1vw;
    }  
    .seven {
        left: -5vw;
        top: 48%;
    }
    .text_right .premio {
        padding-right: 0;
        position: relative;
        left: 21px;
    }
    .texto_left {
        left: 60px;
    }
    .secao_2 .right_dois .premiacoes h3 {
        margin-right: 12px;
    }
    .secao_2 .right_dois .premiacoes {
        padding: 24px 12px;
    }
    .regulamento .inner_box .dentro_regulamento .lista_regulamento {
        margin: 0 135px;
    }
    .secao_2 .right_dois {
        padding-right: 20px;
    }
}

@media screen and ( max-width: 1180px ) {

    .text_right {
        padding-top: 28px;
        padding-right: 6px;
    }
    .text_right .premio {
        margin-top: 45px;
        font-size: 27px;
    }
    .texto_left {
        left: 125px;
    }
    .secao_2 .right_dois {
        padding-right: 10px;
        p {font-size: 17px;}
    }
    .secao_2 .right_dois .premiacoes h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .categorias_home .cat_home .cada_cat h2 {
        margin-top: 11px;
    }
    .regulamento .inner_box .dentro_regulamento h1 {
        line-height: 94px;
    }
    .regulamento .inner_box .dentro_regulamento .lista_regulamento {
        margin: 0 83px;
    }
    .regulamento .inner_box .dentro_regulamento .baixe_regulamento {
        margin-top: 50px;
    }
    .como_foi .inner_box .dentro_como .video_box {
        max-width: 500px;
    }
    .footer .inner_box_white .empresas {
        margin-top: 19px;
        margin-bottom: 19px;
    }
    .footer .inner_box_grey {
        padding: 3px 34px;
    }
 }
 @media screen and ( min-width: 1650px ) {
    .mulher img {
        width: 100%;
        position: relative;
        left: -90px;
    }
    .mulher.to_left {
        left: -11vw;
        top: 1vh;
    }
    .mulher.to_left.sumir {
        left: 100%;
        top: 1vh;
    }
    .regulamento .inner_box .dentro_regulamento .lista_regulamento ul li {
        width: 100%;
    }
 }


 @media screen and ( max-width: 500px ) {
    .mulher{
       display: none;
    }
    .text_right .premio {
        margin-top: 75px;
        font-size: 18px;
    }
    .text_right .premio span:nth-of-type(2) {
        font-size: 24px;
        left: -30px;
    }
    .text_right {
        padding-top: 45px;
        padding-right: 6px;
    }
    .seven {
        left: -162vw;
        top: 41%;
        svg{
            height: 202px
        }
    }
    .circulos {
        top: 36vh;
    }
    .inner_box {
        position: relative;
        width: 90vw;
        height: 90vh;
        margin: 0 auto;
        margin-top: 9vh;
        margin-bottom: 1vh;
        border-radius: 10px;
    }
    .secao_1 .more_bottom {
        right: -17px;
        bottom: 152px;
    }
    .text_right .inscricoes {
        margin-top: 90px;
    }
    .secao_1 .more_bottom.more_left {
        right: -79px;
        left: -17px;
        bottom: 3vh;
    }
    .texto_left {
        width: 100%;
        left: 26px;
        span{
            font-size: 30px;
            text-transform: uppercase;
            color: #12397C;
            line-height: 29px;
        }
        .preco {
            font-size: 59px;
        }        
    }
    .secao_2 .right_dois {
        padding-right: 10px;
        padding-top: 13px;
        padding-left: 26px;
        p{
            font-size: 16px;
            margin-bottom: 6px;
        }
    }
    .secao_2 .right_dois .premiacoes {
        padding: 15px 12px;
    }
    .secao_2 .circulos.posi_v {
        display: none;
    }
    .secao_2 .right_dois .inscreva {
        margin-top: 9px;
        padding-left: 72px;
    }
    .categorias_home .rosto {
        top: 28vh;
        right: -131vw;
    }
    .categorias_home .cat_home {
        position: relative;
        z-index: 10;
        padding-left: 15px;
        padding-top: 70px;
    }
    .categorias_home .cat_home h1 {
        font-size: 29px;
        letter-spacing: 0.5em;
    }
    .categorias_home .cat_home .cada_cat h2 {
        font-size: 27px;
        line-height: 28px;
    }
    .categorias_home .cat_home .cada_cat h3 {
        color: #12397C;
        font-size: 26px;
        line-height: 37px;
        font-family: 'Gotham Book';
        margin-bottom: 29px;
    }
    .categorias_home .more_bottom.more_left {
        display: none;
    }
    .categorias_home .cat_home .cada_cat ul li {
        padding-left: 15px;
        margin-right: 51px;
        font-size: 22px;
        line-height: 24px;
    }
    .categorias_home .cat_home .cada_cat ul {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 13px;
    }
    .categorias_home .cat_home .cada_cat {
        margin-bottom: 48px;
        margin-top: 39px;
    }

    .conforto .dentro_conforto {
        padding-top: 21px;
        padding-left: 15px;
    }
    .conforto .dentro_conforto h2 {
        text-transform: uppercase;
        font-size: 28px;
        line-height: 27px;
        margin-bottom: 38px;
    }
    .conforto .dentro_conforto .texto_conforto {
        padding-left: 27px;
        padding-right: 50px;
    }
    .conforto .dentro_conforto .texto_conforto p {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 22px;
        padding-right: 24px;
    }
    .conforto .dentro_conforto .tabs_conforto .more_bottom {
        left: inherit;
        right: 20px;
        text-align: right;
        bottom: inherit;
        top: -10vh;
    }
    .conforto .dentro_conforto .tabs_conforto {
        padding-right: 33px;
    }
    .conforto .dentro_conforto .tabs_conforto ul li {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        line-height: 16px;
        width: 143px;
        word-break: break-word;
    }
    .conforto .more_bottom {
        right: initial;
        left: -26px;
        bottom: 100%;
    }
    .conforto .dentro_conforto .tabs_conforto .circulos {
        right: 8px;
        top: initial;
        bottom: 64px;
    }
 }